<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.plugin.pager.DemoPageQueryMapper">
	<!--
		Recommend Usage Pattern  
		/*================================================
	    |           P A G E     I N     M A P          |
	    ================================================*/
	-->
	<select id="selectUsersByMap" resultType="User">
	   select * from user
	   <where>
	   		<if test="firstName!=null and firstName!='' ">
	   			FIRST_NAME = #{firstName}
	   		</if>
	   		<if test="lastName!=null and lastName!='' ">
	   			AND LAST_NAME = #{lastName}
	   		</if>
	   </where>
	   order by id
	</select>
	
	
	<!--  
		/*================================================
	    |        P A G E    A N N O T A T I O N         |
	    ================================================*/
	-->
	<select id="selectUsersByAnnotations" resultType="User">
	   select * from user
	   <where>
	   		<if test="additionalParams.firstName!=null and additionalParams.firstName!='' ">
	   			FIRST_NAME like '%${additionalParams.firstName}%'
	   		</if>
	   		<if test="additionalParams.lastName!=null and additionalParams.lastName!='' ">
	   			AND LAST_NAME like '%${additionalParams.lastName}%'
	   		</if>
	   </where>
	   order by id
	</select>
	
	
	
	<!--  
		/*================================================
	    |      P A G E    A N D   E X C E P T I O N      |
	    ================================================*/
	-->
	<select id="selectUsersByPage" resultType="User">
	   select * from user
	   order by id
	</select>
	
	<select id="selectUsersByPageWithException" resultType="User">
	   select * from user
	   <where>
	   		<if test="firstName!=null and firstName!='' ">
	   			FIRST_NAME = #{firstName}
	   		</if>
	   		<if test="lastName!=null and lastName!='' ">
	   			AND LAST_NAME = #{lastName}
	   		</if>
	   </where>
	   order by id
	</select>
	
</mapper>